main {
  background-color: lightgray;
  align-self: auto;
}


h1 {
  color: royalblue;
  align-content: center;
  text-align: center;
}

table,
td,
th {
  border: 1px solid rgb(50, 50, 50);
  margin: auto;
}

th {
  align-content: center;
  text-align: center;
  font-size: 18px;
}

td {
  padding: 15px;
  align-content: center;
  text-align: center;
  font: 1em sans-serif;
}